In [1]:
def square1(n):
    return n ** 2

In [2]:
def square2(n):
    return n * n

In [16]:
class CustIter:
    def __init__(self, n):
        self.start = -1
        self.end = n
    
    def __iter__(self):
        return self
    
    def __next__(self):
        self.start += 1
        if self.start > self.end:
            raise StopIteration
        
        return self.start

In [14]:
myIter = CustIter(10)

In [17]:
for i in CustIter(10):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
map(lambda *a: a, range(3))

In [22]:
list(map(lambda a: a, range(3)))

[0, 1, 2]

In [29]:
list(map(lambda a,b,c: print(a, b, c, '=', a + b + c), range(0,5), range(11, 18), range(12, 5, -1)))

0 11 12 = 23
1 12 11 = 24
2 13 10 = 25
3 14 9 = 26
4 15 8 = 27

[None, None, None, None, None]

In [27]:
print(list(range(0, 5)))
print(list(range(11, 18)))
print(list(range(12, 5, -1)))

[0, 1, 2, 3, 4]
[11, 12, 13, 14, 15, 16, 17]
[12, 11, 10, 9, 8, 7, 6]

In [30]:
students = [
    dict(id=0, credits=dict(math=9, physics=6, history=7)),
    dict(id=1, credits=dict(math=6, physics=7, latin=10)),
    dict(id=2, credits=dict(history=8, physics=9, chemistry=10)),
    dict(id=3, credits=dict(math=5, physics=5, geography=7))
]

In [31]:
def decorate(student):
    return (sum(student['credits'].values()), student)

In [32]:
def undecorate(decorated_student):
    return decorated_student[1]

In [33]:
students = sorted(map(decorate, students), reverse=True)
students

[(27, {'id': 2, 'credits': {'history': 8, 'physics': 9, 'chemistry': 10}}),
 (23, {'id': 1, 'credits': {'math': 6, 'physics': 7, 'latin': 10}}),
 (22, {'id': 0, 'credits': {'math': 9, 'physics': 6, 'history': 7}}),
 (17, {'id': 3, 'credits': {'math': 5, 'physics': 5, 'geography': 7}})]

In [34]:
students = list(map(undecorate, students))
students

[{'id': 2, 'credits': {'history': 8, 'physics': 9, 'chemistry': 10}},
 {'id': 1, 'credits': {'math': 6, 'physics': 7, 'latin': 10}},
 {'id': 0, 'credits': {'math': 9, 'physics': 6, 'history': 7}},
 {'id': 3, 'credits': {'math': 5, 'physics': 5, 'geography': 7}}]

In [35]:
grades = [18, 23, 30, 27]
avgs = [22, 21, 29, 24]

In [36]:
list(zip(grades, avgs))

[(18, 22), (23, 21), (30, 29), (27, 24)]

In [37]:
list(map(lambda *a: a, grades, avgs))

[(18, 22), (23, 21), (30, 29), (27, 24)]

In [39]:
list(map(lambda a: max(a), zip(grades, avgs)))

[22, 23, 30, 27]

In [40]:
[n * n for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, range(10))))

[0, 4, 16, 36, 64]

In [42]:
[n*n for n in range(10) if not n % 2]

[0, 4, 16, 36, 64]

In [43]:
numbers = [1,2,3,4]
pairs = []

In [45]:
for a in range(len(numbers)):
    for b in range(a, len(numbers)):
        pairs.append((numbers[a], numbers[b]))

In [46]:
pairs

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 3),
 (3, 4),
 (4, 4)]

In [47]:
numbers

[1, 2, 3, 4]

In [49]:
[(numbers[a], numbers[b]) for a in range(len(numbers)) for b in range(a, len(numbers)) if a != b]

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [50]:
mx = 10

In [51]:
from math import sqrt

In [54]:
triples = [(a, b, sqrt(a**2 + b**2)) for a in range(1, mx) for b in range(a, mx)]

In [55]:
triples

[(1, 1, 1.4142135623730951),
 (1, 2, 2.23606797749979),
 (1, 3, 3.1622776601683795),
 (1, 4, 4.123105625617661),
 (1, 5, 5.0990195135927845),
 (1, 6, 6.082762530298219),
 (1, 7, 7.0710678118654755),
 (1, 8, 8.06225774829855),
 (1, 9, 9.055385138137417),
 (2, 2, 2.8284271247461903),
 (2, 3, 3.605551275463989),
 (2, 4, 4.47213595499958),
 (2, 5, 5.385164807134504),
 (2, 6, 6.324555320336759),
 (2, 7, 7.280109889280518),
 (2, 8, 8.246211251235321),
 (2, 9, 9.219544457292887),
 (3, 3, 4.242640687119285),
 (3, 4, 5.0),
 (3, 5, 5.830951894845301),
 (3, 6, 6.708203932499369),
 (3, 7, 7.615773105863909),
 (3, 8, 8.54400374531753),
 (3, 9, 9.486832980505138),
 (4, 4, 5.656854249492381),
 (4, 5, 6.4031242374328485),
 (4, 6, 7.211102550927978),
 (4, 7, 8.06225774829855),
 (4, 8, 8.94427190999916),
 (4, 9, 9.848857801796104),
 (5, 5, 7.0710678118654755),
 (5, 6, 7.810249675906654),
 (5, 7, 8.602325267042627),
 (5, 8, 9.433981132056603),
 (5, 9, 10.295630140987),
 (6, 6, 8.48528137423857),
 (6, 7, 9.219544457292887),
 (6, 8, 10.0),
 (6, 9, 10.816653826391969),
 (7, 7, 9.899494936611665),
 (7, 8, 10.63014581273465),
 (7, 9, 11.40175425099138),
 (8, 8, 11.313708498984761),
 (8, 9, 12.041594578792296),
 (9, 9, 12.727922061357855)]

In [57]:
list(filter(lambda x: x[2].is_integer(), triples))

[(3, 4, 5.0), (6, 8, 10.0)]

In [63]:
list(map(lambda x: x[:2] +  (int(x[2]),), (filter(lambda x: x[2].is_integer(), triples))))

[(3, 4, 5), (6, 8, 10)]

In [71]:
[(a, b, c) for a, b, c in [(a, b, sqrt(a**2 + b**2)) for a in range(1, mx) for b in range(a, mx)] if c.is_integer()]

[(3, 4, 5.0), (6, 8, 10.0)]